<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Alnwick</h2>
            <hr class="primary">
            <p>Alnwick is  ... DESCRIBE THE TOWN AND NORTHUMBERLAND </p>
            <h3>Getting There </h3>
            <p>
                We recommend using public transport to travel to and from Alnwick. The closest train station is Alnmouth. There are regular, direct trains from London Kings Cross that take approximately 3 and a half hours (quite impressive when you consider it is around 500km). The best time to buy tickets is roughly 8-12 weeks from when you would like to travel. We use <a href="https://www.thetrainline.com/">trainline</a>.
            </p>
            <p>
                From Alnmouth it is a short taxi (10 minutes) into Alnwick. There is also a bus that runs every half an hour that takes 20 minutes.
            </p>
            <p>
                We suggest hiring a car if you would like to explore more of Northumberland. This is probably best done from Newcastle-upon-Tyne as this is the closest major city.
            </p>
            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Below is a list of recommendations for reasonably priced places to stay in Alnwick. The weddinng will be during UK school holidays so we suggest securing accommodation soon.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2"><a href="https://www.classiclodges.co.uk/the-white-swan/">The White Swan</a></th>
                    <td>
                        The hotel is located at the centre of town and is set in a 300-year old coaching inn. We have organised a block of discounted rooms - use the code <code>LZW16</code> when booking.
                    </td>
                </tr>
                <tr>
                    <th><a href="https://theoakshotel.co.uk/">The Oaks Hotel</a></th>
                    <td>
                        This hotel is also centrally located in Alnwick in a smaller building with 13 rooms. DISCOUNT CODE???.
                    </td>
                </tr>
                <tr>
                    <th><a href="https://www.inncollectiongroup.com/hogs-head-inn/">Premier Inn</a></th>
                    <td>
                        This budget hotel is located 5 minutes drive from the main town. DISCOUNT CODE???
                    </td>
                </tr>
                <tr>
                    <th><a href="https://www.inncollectiongroup.com/hogs-head-inn/">The Hogs Head Inn</a></th>
                    <td>
                        Also located slightly outside the main town, this is another good option for those on more of a budget. DISCOUNT CODE???
                    </td>
                </tr>
                <tr>
                    <th>Other options</th>
                    <td>
                        There are a selection of boutique cottages and holiday homes available on <a href="https://www.booking.com">Booking.com</a> and <a href="https://https://www.airbnb.co.uk/">Airbnb</a>. However, just to let you know, we had quite a few challenges securing our own accommodation through these platforms because many of the options required a minimum amount of nights or to check in and out on specific days of the week that did not align with our dates.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Local Highlights</h3>
            <p>The Northumberland region is known for its deep history and natural beauty. Amy and her Mam have put together a great list of local highlights for everyone traveling to the region for the first time. For those wondering, "Mam" is not a spelling error. It is the <a href="http://dialectblog.com/2011/04/07/mom-mum-mam/">northern dialect</a> way of spelling "mum".</p>
            {% comment %}
            <h4>Wine Tasting</h4>
            <p>
                If you have a designated driver, nothing beats a leisurely afternoon visiting a few of Niagara's beautiful vineyards and tasting the wine.
                If no one wants to drive, you can also <a href="http://zoomleisure.com/">rent a bike</a> or <a href="https://www.tripadvisor.com/Attractions-g154999-Activities-c42-t205-Niagara_on_the_Lake_Ontario.html">join a tour</a>.
                Follow the Niagara Wine Route.
            </p>
            <p>
                Trius has a fabulous high-end dining area.
                Inniskillin is renowned for their ice wine.
                For those of you who enjoy more full-bodied wines, Rowena is a fan of the Henry of Pelham Baco Noir Reserve.
                Southbrook is Canada’s first biodynamic winery and well known for excellent meals.
            </p>
            <h4>Niagara Falls</h4>
            <p>A walk around the falls at sunset or at night can be gorgeous. You can also take a ferry through them, though prepare to get wet!</p>
            <p>Around Niagara Falls is a thriving industry of haunted houses, a Butterfly Conservatory, Botanical Gardens, and even Niagara Falls Casino.</p>
            <h4>Golf</h4>
            <p>Plenty of scenic <a href="http://www.notlgolf.com/index.html">golf options</a> around town, many of them using the same grounds for vines as for courses.</p>
            <h4>Spa</h4>
            <p>Two of the nicest hotels in town host relaxing spas: Secret Garden Spa at Prince of Wales and 100 Fountain Spa at Pillar and Post.</p>
            <h4>Shopping</h4>
            <p>
                There is a long tradition of Americans flocking to Canada for discount shopping and Canadians flocking to America for the same.
                In addition to a variety of outlet malls on both sides of the border, Niagara-on-the-Lake town also features a very quaint downtown with lots of unique shops.
            </p>
            <h4>Theater</h4>
            <p>
                The Shaw theater festival will be taking place in NOTL this weekend, producing the works of Bernard Shaw and Shavian playwrights.
                Theaters are located in NOTL town.
            </p>
            <h4>Buffalo Wings</h4>
            <p>
                Probably not worth a dedicated trip, but Buffalo NY is the hometown of buffalo wings.
                So if you’re driving through anyways, might be a chance to pay homage.
            </p>
            <h4>Botanical Gardens</h4>
            <p>Some people like flowers. If you’re one of them, <a href="http://www.niagaraparks.com/niagara-falls-attractions/botanical-gardens.html">go here</a>. There’s even a butterfly conservatory.</p>
            <h4>Eat</h4>
            <p>
                Great meals can be found at <a href="http://www.thegarrisonhouse.ca/#!home/mainPage">Garrison House</a>, <a href="http://www.treadwellcuisine.com/">Treadwell</a>, and <a href="http://backhouse.xyz/">Backhouse</a>.
                <a href="http://www.twosistersvineyards.com/site/kitchen-76">Kitchen 72</a> inside the Two Sisters Vineyard serves delicious Italian food inside of an impressive estate.
            </p>
            <h4>Drink</h4>
            <p><a href="http://www.silversmithbrewing.com/">Silversmith Brewing</a> is an excellent local artisanal brewery offering offbeat new drinks.</p>
            <p>Some informal later-night options include The Olde Angel Inn, Sandtrap, and the Irish Harp.</p>
            <h4>Celebrate Canada Day!</h4>
            <p>
                On Friday night, July 1st, from the Southern banks of Lake Ontario on the north side of NOTL town, you will be able to see the fireworks light up across Toronto, Hamilton, and Niagara.
            </p>
            <h4>Celebrate America Day!</h4>
            <p>God knows what those Americans do. Have a BBQ?</p>
            {% endcomment %}
        </div>
    </div>
</div>
