<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Welcome Party</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt></dt>
                    <dd>
                        We will be organising welcome drinks. Further details TBC.
                    </dd>
                    <dt>When</dt>
                    <dd>Thursday Augst 15, time TBC</dd>
                    <dt>Where</dt>
                    <dd>
                        Venue TBC
                    </dd>
                    {% comment %}
                    <dt>What</dt>
                    <dd>
                        Come join us and meet other guests for a few drinks at a local pub
                    </dd>
                    <dt>When</dt>
                    <dd>Thursday Augst 15, from 6pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Tanners Arms Alnwick<br>
                            <a href="https://maps.app.goo.gl/mjeKGvtPcyT6xWkRA">2 Hotspur Pl, Alnwick NE66 1QF</a><br>
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Casual</dd>
                    <dt>General info</dt>
                    <dd>
                        We have contacted the owner to let them know we are a large group. The pub does not serve food so please arrange to eat before or after.
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="wedding-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">The Wedding</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt></dt>
                    <dd> The ceremony will take place in The Treehouse followed by reception in the gardnes. </dd>
                    <hr>
                    <dt>Date</dt>
                    <dd>Friday Augst 16 2024</dd>
                    <dt>Venue info</dt>
                    <dd>
                        <address>
                            <a href="https://www.alnwickgarden.com/">The Alnwick Garden</a><br>
                        </address>
                    </dd>
                    <dt>Address</dt>
                    <dd>
                        <address>
                            <a href="https://maps.app.goo.gl/th4x8syU1p1kk8Ve9">The Alnwick Garden, Denwick Lane, Alnwick NE66 1FJ</a><br>
                        </address>
                    </dd>
                    <dt>Timings</dt>
                    <dd>The main parts of the day are:
                        <ul>
                            <li>Guests arrival: <strong>12.30pm</strong>
                            <li>Ceremony: <strong>1pm</strong>
                            <li>Reception: <strong>from 4pm till late</strong>
                            <li>The end: <strong>midnight</strong>
                        </ul>
                    </dd>
                    <hr>
                    <dt>Attire</dt>
                    <dd>Smart casual (think garden party)<br>
                        Be warned (particularly those from the southern hemisphere): while it is August, there is still a strong possibility it will be grey and cold so please plan accordingly (and hope for sunshine and warm weather!)<br>
                    </dd>
                    <dt>Other info</dt>
                    <dd> The Treehouse and main gardnes are separated by a short walk (less than 5 mins). The Treehouse will be closed to the public for the duration of our ceremony until around 4pm but the gardens will remain open to the public until around 6pm. Both spaces are well equipped for any wet weather.<br>
                    The venue is a short walk from the main town. Please let us know if you think you will need a taxi as it is best to pre-book.</dd>
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
<section id="BBQ-event" class="bg-success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Recovery BBQ</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt></dt>
                    <dd>
                        We will be organising a recovery BBQ. Further details TBC.
                    </dd>
                    <dt>When</dt>
                    <dd>Saturday Augst 17, time TBC</dd>
                    <dt>Where</dt>
                    <dd>
                        Venue TBC
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
